DATABASE_URL="postgres://1c1df588ba389b62f7fb3d1050ca74c6efeba5833269b36669a5a19558dd15c0:sk_CAqd3zCxs87XTQ9Y-sY9A@db.prisma.io:5432/postgres?sslmode=require"
POSTGRES_URL="postgres://1c1df588ba389b62f7fb3d1050ca74c6efeba5833269b36669a5a19558dd15c0:sk_CAqd3zCxs87XTQ9Y-sY9A@db.prisma.io:5432/postgres?sslmode=require"
DIRECT_URL="postgres://1c1df588ba389b62f7fb3d1050ca74c6efeba5833269b36669a5a19558dd15c0:sk_CAqd3zCxs87XTQ9Y-sY9A@db.prisma.io:5432/postgres?sslmode=require"
PRISMA_DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19DQXFkM3pDeHM4N1hUUTlZLXNZOUEiLCJhcGlfa2V5IjoiMDFLRzY2SFM3UFhQWTkwWTRUMU1EUldTRVAiLCJ0ZW5hbnRfaWQiOiIxYzFkZjU4OGJhMzg5YjYyZjdmYjNkMTA1MGNhNzRjNmVmZWJhNTgzMzI2OWIzNjY2OWE1YTE5NTU4ZGQxNWMwIiwiaW50ZXJuYWxfc2VjcmV0IjoiZGRiOWExNzgtYThhYS00YmQ5LTkyNDUtNmNlMjQzMjhkYzgzIn0.UuliQQVaF415xxkeVkBbHE2HCmClnnI3sr6jWTJFmj8"


# Giữ lại Supabase để dùng tính năng upload ảnh
NEXT_PUBLIC_SUPABASE_URL="https://ibugrxyxbcxmsjzsivei.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_WG9MITEbN-RwU6bvQsmA5w_UD6Urmp0"

# VNPAY Config
VNP_TMNCODE="64DFOLZV"
VNP_HASHSECRET="O6J4Z89F24EL7WDPFXJEJBX47AGBLQVO"
VNP_URL="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
VNP_RETURNURL="https://ass-1-prn-232-51al.vercel.app/api/vnpay/callback"